<div class='container'>
  <form name='new_event' action='/events/create' method='post'>
    <label>Event Title</label>
    <input name='title' type='text' placeholder="e.x. Event 1">
    <span><%= "#{flash[:title]}" %></span>

    <label>Event Date</label>
    <input name='date' type="text" placeholder="<%= format_date(Date.today) %>" class="datepicker">
    <span><%= "#{flash[:date]}" %></span>

    <label>Organizer Name</label>
    <input name='name' type='text' placeholder='Your Name'>
    <span><%= "#{flash[:name]}" %></span>

    <label>Organizer's Email</label>
    <input name='email' type='email' placeholder='your@email.com'>
    <span><%= "#{flash[:email]}" %></span>
    <br>

    <input type='submit' value='Create Event'>
  </form>
</div>
